a {
  color: #0f0f0f;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0f0f0f;
 .panel-body {
   background: #efefef;
 }
}
.panel-body {
  .glyphicon{
    font-size: 3em;
  }
}
.panel-title {
  display: inline-block;
}