{% extends "layout.html.twig" %}

{% block title %} app_name {% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{ department_name }} collections</h1>
        <div class="row">
            <div class="col-md-3">
                <h4>Filter by</h4>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option>Transfer Status</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option>Transfer type</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option>Year</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="results">
            {% for collection in range(0,2) %}
                <h3>COMPH: Board of Trade: Companies Registration Office: Files of Dissolved Companies</h3>
                {% for i in range(0,1) %}
                    {% include 'individual-transfer.html.twig' %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
