<div class="panel panel-default">
    <div class="panel-heading">Begin transfer</div>
    <div class="panel-body">
        <p>We recommend this transfer is provided by upload <a href="/upload" class="btn btn-default">Begin transfer</a></p>
        <h3>Not sure?</h3>
        <p>If you do not agree with the suggested transfer method please <a href="/contact-us">contact us</a></p>
    </div>
</div>