{% extends 'layout-for-placeholder.html.twig' %}
{% block content %}
<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title">{{ app_name }}</h1>
    </div>
    <div class="modal-body">
        <p>This is a prototype of a standardised access point to the Digital Records Infrastructure (DRI). It covers the validation and upload of born digital records only (commonly referred to as 'Gateway 3').</p>
        <h3>What you can test</h3>
        <p>The prototype’s opening page shows a mock list of current and past Home Office collections, as well as a number of currently inoperative features:</p>
        <ul>
            <li>search</li>
            <li>notification panel</li>
            <li>guidance section</li>
            <li>message centre</li>
        </ul>
        <p>Click on a collection to show an individual collection page, where you can test how to:</p>
        <ul>
            <li>Edit information collected in previous steps</li>
            <li>Provide metadata either successfully (by uploading any file) or unsuccessfully (by clicking 'upload' without having selected a file)</li>
        </ul>
        <p>
            If you successfully upload metadata, you will see a confirmation message and summary. You can then either:
        </p>
        <ul>
            <li>view and test transfer options (digital or hard disk drive)</li>
            <li>click on an item to see a representation of the record metadata as it would appear on Discovery, The National Archives’ catalogue.</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="/" type="button" class="btn btn-primary">Continue to prototype</a>
    </div>
</div>
{% endblock %}