<html lang="en">
{% block head %}
    <head>

        <title>{{ page_title }} | {{ app_name }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!-- Font from Google -->
        <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700" rel="stylesheet">

        <!-- Custom styles for the prototype -->
        <link href="/styles/dist/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
{% endblock %}

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        {% include 'logo-and-notification-panel.html.twig' %}
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        {% include 'sidebar.html.twig' %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/script/prototype-scripts.js"></script>
<script>
    // Basic logging for development
    (function () {
        var page_data = JSON.parse('{{ properties_as_json | raw }}');
        console && console.log(page_data);
    })();
</script>
</body>
</html>