{% extends 'transfer-details.html.twig' %}
{% block flash_message %}
<div class="alert alert-{{ flash_message_class }} fade in alert-dismissable" style="margin-top:18px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
     {{ flash_message }}
</div>
{% endblock %}