{% extends "layout.html.twig" %}

{% block title %} app_name {% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{ department_name }} Records</h1>
        <h2>BT 95/1</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>This record is available to order and view. <span class="label label-success pull-right">Open</span>
                </h4>
            </div>
        </div>
        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <td>Reference:</td>
                <td>CP8899</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>Index (classi sheets) to dissolved companies, for companies numbered between 25885 and 80713 (and incorporated between 1888 and 1904)</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>12/05/1938 to 09/10/1968</td>
            </tr>
            <tr>
                <td>Held by:</td>
                <td>The National Archives</td>
            </tr>
            <tr>
                <td>Legal status:</td>
                <td>Legal</td>
            </tr>
            <tr>
                <td>Closure status:</td>
                <td>Unclosed</td>
            </tr>
            </tbody>
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">Context of this record</div>
            <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
        </div>
    </div>
{% endblock %}