<html lang="en">
{% block head %}
    <head>

        <title>{{ page_title }} | {{ app_name }}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom styles for the prototype -->
        <link href="/styles/dist/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
{% endblock %}

<body>

<div class="container-fluid">
    <div class="row">
        <div tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User requests Hard Disk Drive (HDD)</h4>
                    </div>
                    <div class="modal-body">
                        <p>Process here would be:</p>
                        <ul>
                            <li>This system is used to trigger a HDD request to DRI</li>
                            <li>DRI receive request and prepare HDD</li>
                            <li>DRI dispatch HDD and update system</li>
                            <li>System sends notification of dispatch to user</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a href="/begin-transfer" type="button" class="btn btn-default">Return to previous step</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/script/prototype-scripts.js"></script>
<script>
    // Basic logging for development
    (function () {
        var page_data = JSON.parse('{{ properties_as_json | raw }}');
        console && console.log(page_data);
    })();
</script>
</body>
</html>