{% block summary %}
    <div class="panel panel-default">
        <div class="panel-heading">Metadata Summary</div>
        <div class="panel-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            <hr>
            <div class="col-md-6">
                <img src="http://www.iconsdb.com/icons/preview/black/bar-chart-7-xxl.png" class="img-responsive center-block">
                <hr>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over
                </p>
            </div>
            <div class="col-md-6">
                <img src="http://www.iconsdb.com/icons/preview/black/pie-chart-xxl.png" class="img-responsive center-block">
                <hr>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                  <li>Aliquam tincidunt mauris eu risus.</li>
                  <li>Vestibulum auctor dapibus neque.</li>
                  <li>Nunc dignissim risus id metus.</li>
                  <li>Cras ornare tristique elit.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}