{% block summary %}
    <div class="panel panel-default">
        <div class="panel-heading">Summary of uploaded metadata</div>
        <div class="panel-body">
            <hr>
            <div class="col-md-12">
                <div id="piechart"></div>
                <hr>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Total number of records <span class="badge">1,234</span></div>
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/search-results">Open records <span
                                        class="badge">824</span></a></li>
                        <li class="list-group-item"><a href="/search-results">Closed records with closed
                                description<span class="badge">310</span></a></li>
                        <li class="list-group-item"><a href="/search-results">Closed records with open description<span
                                        class="badge">105</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Uploaded records'],
                ['Open records', 824],
                ['Closed records with closed description', 310],
                ['Closed records with open description', 105]
            ]);

            var options = {
                title: 'Records described in CSV metadata'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}