{% extends "layout.html.twig" %}

{% block title %} app_name {% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            {% include 'status-bar.html.twig' %}
            <h1>BT95: Board of Trade: Companies Registration Office: Classified Index ('Classi Sheets') to Files of Dissolved Exempt Private Companies Transfer status.</h1>

            {% block flash_message %}
            {% endblock %}

            {% if begin_transfer %}
                {{ include('begin-transfer.html.twig') }}
            {% endif %}

            {{ include('transfer-registration-details.html.twig') }}

            {% if show_summary %}
                {{ include('transfer-summary.html.twig') }}
            {% endif %}


            <form action="/metadata-upload" method="post" id="metadata-upload">
                <div class="panel panel-default">
                    <div class="panel-heading">Select metadata for upload</div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input data-show-preview="true" type="file" class="form-control" placeholder="Upload CSV"
                                   name="upload">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Upload</button>
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}