{% extends "layout.html.twig" %}

{% block title %} app_name {% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <h1>Transfer name</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus
                laudantium odit aliquam repellat tempore quos aspernatur vero.</p>

            {% block flash_message %}
            {% endblock %}

            {% if begin_transfer %}
                {{ include('begin-transfer.html.twig') }}
            {% endif %}

            {% if show_summary %}
                {% if show_summary %}
                    <div class="cta-button">
                        <a href="#metadata-upload" class="btn btn-lg btn-block btn-info">Happy with your upload? Delete or Upload metadata again.</a>
                    </div>
                {% endif %}
                {{ include('transfer-summary.html.twig') }}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">Transfer registration details</div>
                <div class="panel-body">The details of the collection within this transfer can be viewed and amended on the <a href="/register-collection">collection registration</a> page</div>
            </div>
            <form action="/metadata-upload" method="post" id="metadata-upload">
                <div class="panel panel-default">
                    <div class="panel-heading">Select metadata for transfer</div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input data-show-preview="true" type="file" class="form-control" placeholder="Upload CSV"
                                   name="upload">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Upload</button>
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}