{% extends "layout.html.twig" %}

{% block title %} app_name {% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1>Digital transfer</h1>
        <h2>Search results</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum eos ipsam laborum optio quibusdam
            quisquam rerum sit, temporibus voluptate.
        </p>
        <form id="dragDrop" action="upload.php" method="POST">
            <input type="file" multiple>
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            <p>Drag your files here or click in this area.</p>
            <button type="submit">Upload</button>
        </form>

    </div>
</div>
{% endblock %}